html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    padding-bottom: 0;
    margin-bottom: 0;
}

#log {
    margin-right: 10% !important;
}

#pstyle {
    font-weight: bolder;
    font-size: 70px;
    font-family: Courier;
    text-align: center;
    color: rgb(250, 115, 27);
}

#psubstyle {
    font-weight: bolder;
    font-size: 40px;
    font-family: Courier;
    text-align: center;
    color: rgb(250, 115, 27);
}

#about {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

form {
    margin-left: 15% !important;
}

label {
    font-size: 125%;
    font-weight: bolder;
}

img {
    margin-top: 10%;
    margin-left: 20%;
}

.colr,
.btn {
    background-color: rgb(250, 115, 27) !important;
    border: none !important;
    font-weight: bolder !important;
}

.btn {
    margin: 4px 2px !important;
    padding: 10px 20px !important;
}

.colr {
    color: black !important;
    font-family: Courier;
}

.coll {
    margin-left: 50% !important;
}

.jumbotron {
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 1%;
    font-weight: bolder;
    font-family: Courier;
    background-color: rgb(250, 115, 27);
    text-align: center;
}

a {
    color: black !important;
}

#cret {
    padding: 2% !important;
}

#wel {

    font-family: Courier;
    font-weight: bolder;
    font-size: 180%;
    text-align: center;
    color: brown;
    background-color: white;
    padding: 0;
}

.jumb {
    background-color: grey !important;
    font-weight: bolder;
    font-size: 125%;
}

#main {
    margin-left: 3% !important;
}

.next {
    position: relative;
    bottom: 10% !important;
    right: 1% !important;
    padding: 1% !important;
    font-size: 110% !important;
    font-weight: bolder !important;
}

#bot {
    padding: 5% !important;
    font-size: 110% !important;
    font-weight: bolder !important;
    color: black !important;
    background-color: grey !important;
}

#txt,
textarea,
#inp {
    width: 60%;
    height: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 110%;
    font-family: Courier;
    resize: none;
}

#crt {
    margin-left: 5% !important;
}

#lb {
    font-size: 150%;
    font-family: Courier;
    font-weight: bolder;
    color: rgb(250, 115, 27);
}

#inp {
    width: 45%;
}

#hdin,
#hding {
    font-weight: bolder;
}

#hding {
    font-size: 120% !important;
}

#sub,
#jum {
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
}

.ed {
    padding: 0 !important;
}

#sub {
    background-color: white;
    width: 80%;
    left: 10%;
    right: 10%;
    padding-top: 1%;
}

.survey {
    margin-left: 5% !important;
}

#inst,
#qu {
    text-align: left;
    font-size: 120% !important;
    font-weight: bolder;
}

#inst {
    font-size: 130% !important;
}

.edit {
    font-family: Courier;
    font-weight: bolder;
    font-size: 120%;
}

.botx {
    padding-left: 0.7% !important;
    padding-right: 0.7% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}

.back {
    background-color: white !important;
    text-align: left !important;
    padding: 5% !important;
}

#bott {

    font-size: 110% !important;
    font-weight: bolder !important;
    color: black !important;
    background-color: grey !important;
}

#thank {
    background-color: white;
    text-align: center;
    font-size: 150%;
    font-family: Courier;
    font-weight: bolder;
    left: 10%;
    right: 10%;
    padding-top: 1%;
}

#for {
    text-align: left !important;
    font-size: 105% !important;
    font-weight: bolder !important;
    font-family: Courier !important;
}

#man {
    color: rgb(250, 115, 27);
    padding: 1.2%;
    font-weight: bolder;
    font-family: Courier;
    font-size: 170%;
}

th,
td {
    text-align: center !important;
}
#q {
    font-weight: bolder; 
    font-family: Courier; 
    padding: 0.5% !important; 
    font-size: 130% 
}

@media screen and (min-width: 800px) and (max-width: 992px) {
    #bot {
        padding: 0.8% !important;
    }
}

@media screen and (max-width: 800px) {

    #log {
        margin-left: 5% !important;
    }
    #pstyle {
        font-size: 350% !important;
    }
    #psubstyle {
        font-size: 250% !important;
    }
    #wel {
        margin: 5% !important;
        font-size: 140% !important;
    }
    .survey {
        margin-left: 10% !important;
    }
    #sub {
        margin-left: 2.2% !important;
    }
    #main {
        margin-left: 20% !important;
    }
    #jum {
        width: 80%;
        position: relative;
        left: 10%;
        right: 10%;
    }
    #end {
        font-size: 130% !important;
    }
    #inst {
        font-size: 115% !important;
    }
    #bot {
        padding: 2% !important;
        font-size: 90% !important;
    }
    #q, #lab,
    #hdin {
        font-size: 115% !important;
    }
    #man {
        font-size: 130% !important;
    }
    #hding {
        font-size: 105% !important;
    }
    #cret {
        padding: 1% !important;
        font-size: 90% !important;
    }
    .colr {
        font-size: 98% !important;
    }
    #take {
        max-width: 75% !important;
        height: auto !important;
        margin-left: 10% !important;
        margin-bottom: 5% !important;
    }
    #lb, input::placeholder {
        font-size: 110% !important;
    }
}

@media screen and (max-width: 500px) {
    #pstyle {
        font-size: 250% !important;
    }
    #psubstyle {
        font-size: 150% !important;
    }
    #take {
        max-width: 75% !important;
        height: auto !important;
        margin-left: 10% !important;
        margin-bottom: 5% !important;
    }
    #end, #wel, #q, #lb {
        font-size: 110% !important;
    }
    input::placeholder {
        font-size: 90% !important;
    }
}