<div class="container">
	<div class="row">
		<form id="crt" ng-submit="query.cretQuestion()">
			<label style="background-color: rgb(250, 115, 27); font-weight: bolder; font-family: Courier; padding: 0.5% !important; ">Create Question</label><br/>
			<textarea ng-model="query.question"></textarea>
			<br/>
			<input type="submit" value="Create" class="btn" style="font-family: Courier !important; font-weight: bolder; font-size: 125% !important; padding: 0.5% !important;" />
		</form>
	</div>
</div>