<div class="container">
    <div class="row">
        <p id="wel">Welcome! Click on any of the below surveys you wish to take.</p>
    </div>
    <div class="row survey">
        <div ng-repeat="data in all.entireData">
            <a href="#!/survey/{{data.surveyId}}">
                <div class="jumbotron col-xs-10 col-sm-10 col-md-5">
                    <p style="font-weight: bolder;"><u>{{data.surveyTitle | capitalize}}</u></p>
                    <p style="font-size: 120%; font-weight: bolder;">{{data.surveySubtitle}}</p>
                </div>
            </a>
        </div>
    </div>
</div>