<div class="container">
    <form id="crt" ng-submit="create.createSurveys()">
        <label id="lb">Survey Title:</label>
        <br/>
        <input id="inp" type="text" name="surveyTitle" required="" ng-model="create.surveyTitle"/>
        <br/>
        <br/>
        <label id="lb">Survey Subtitle:</label>
        <br/>
        <input id="inp" type="text" name="surveySubtitle" required="" ng-model="create.surveySubtitle"/>
        <br/>
        <br/>
        <label id="lb">Instructions:</label>
        <br/>
        <textarea id="txtarea" required="" ng-model="create.instructions"></textarea>
        <br/>
        <br/>
        <input type="submit" value="Create" class="btn" style="font-family: Courier !important; font-weight: bolder; font-size: 125% !important;" />
    </form>
</div>