<div class="container">
	<div class="row">
		<form id="crt" class="jumbotron back" ng-submit="query.cretQuestion(query.surveyId)">
			<label id="q"><u>Create Question</u></label><br/>
			<textarea ng-model="query.questionText" required="required" placeholder="enter question text"></textarea>
			<br/>
			<input type="submit" value="Create" class="btn" style="font-family: Courier !important; font-weight: bolder; font-size: 110% !important; padding: 0.5% !important; color: black !important" />
			<a ng-href="#!/admin/{{query.surveyId}}"><input type="button" value="Back" class="btn" style="font-family: Courier !important; font-weight: bolder; font-size: 110% !important; padding: 0.5% !important;"/></a>
		</form>
	</div>
</div>