<div class="container">
    <form id="crt" ng-submit="edit.editSurveys(edit.surveyId)">
        <label id="lb">Survey Title:</label>
        <br/>
        <input id="inp" type="text" name="surveyTitle" ng-model="edit.surveyTitle" required="" />
        <br/>
        <br/>
        <label id="lb">Survey Subtitle:</label>
        <br/>
        <input id="inp" type="text" name="surveySubtitle" ng-model="edit.surveySubtitle" required="" />
        <br/>
        <br/>
        <label id="lb">Instructions:</label>
        <br/>
        <textarea ng-model="edit.instructions" required=""></textarea>
        <br/>
        <br/>
        <input type="submit" value="Edit" class="btn" style="font-family: Courier !important; font-weight: bolder; font-size: 125% !important;" />
    </form>
</div>


